{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
{% image page.main_image original as img %}
{% load wagtailcore_tags %}
<div class="container">
    <div class="row">
        <div class="col-12" style="max-width: 976px;">
            <img src="{{img.url}}" class="img-fluid" alt="{{img.alt}}">
            <h1 class="article">{{page.headline}}</h1>
            <h3>{{page.first_published_at}}</h3>
            <ul>
                {% for iter in self.article_authors.all %}
                {% image iter.author.image fill-100x100 as img %}
                <li>
                    <img src="{{ img.url }}" alt="">
                    By {{ iter.author.name }}, {{iter.author.position}}
                </li>
                {% endfor %}
            </ul>
            <p class="subtitle">{{page.subtitle}}</p>
            <article>
                {% for block in page.content %}
                <section>{% include_block block %}</section>
                {% endfor %}
            </article>
        </div>
    </div>
</div>





{% endblock content %}